{{ define "main" }}
<div class="intro-container" aria-role="main">
    <h1 class="intro">jason p kovalski</h1>
    <p class="sub-intro">full-stack software engineer at salesforce</p>
    <p class="sub-intro">active trader and investor</p>
    <p class="sub-intro">smash ultimate wolf and ridley co-main</p>
    <p class="sub-intro">decent powerlifter</p>
</div>
<div>
    <a href="https://github.com/jasonpkovalski" target="_blank" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/jasonkovalski" target="_blank" class="fa fa-linkedin"></a>
    <a href="https://twitter.com/grim_ssbu" target="_blank" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/jk1.618" target="_blank" class="fa fa-instagram"></a>
</div>
{{ end }}